@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

* {
  font-family: "Montserrat", sans-serif;
}

@keyframes containerTransform {
  0% {
    height: inherit;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 100px;
  }
}
@media (max-width: 768px) {
  .body__index .header-container {
    background-color: black;
    z-index: 2;
  }
  .body__index .header-container__img {
    width: 6rem;
  }
  .body__index .header-container__img img {
    width: 100%;
  }
  .body__index .header-container__toggle {
    font-size: 4rem;
    color: white;
  }
  .body__index .header .navbar {
    position: absolute;
    z-index: 1;
    padding: 0;
    width: 100%;
    transform: translateY(-4rem);
    transition: transform 0.5s;
  }
  .body__index .header .navbar--show {
    transform: translateY(9rem);
  }
  .body__index .header .navbar-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 2rem;
    background-color: black;
  }
  .body__index .header .navbar-list li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 3rem;
  }
  .body__index .welcome {
    background-color: black;
    border-radius: 1rem;
  }
  .body__index .welcome-title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    padding: 1rem;
  }
  .body__index .sale {
    padding: 1.5rem 0;
  }
  .body__index .sale-header__title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
  }
  .body__index .sale-header a {
    color: black;
    width: min-content;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .body__index .sale .items-container {
    width: 100%;
    overflow: auto;
  }
  .body__index .sale .items-container__item-img {
    width: 12rem;
  }
  .body__index .sale .items-container__item-img img {
    width: 100%;
  }
  .body__index .sale .items-container__item-name, .body__index .sale .items-container__item-price {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 15rem;
  }
  .body__index .sale .items-container__item-cod {
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
  }
  .body__index .sale .items-container__item-cod span {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    width: 100%;
    text-align: center;
  }
  .body__index .sale .items-container__item-price {
    font-size: 2rem;
  }
  .body__index .sale .items-container .itemMore {
    margin: auto;
  }
  .body__index .sale .items-container .itemMore .itemMore-img {
    width: 5rem;
  }
  .body__index .sale .items-container .itemMore .itemMore-img img {
    width: 100%;
  }
  .body__index .sale .items-container .itemMore-cod {
    display: none !important;
  }
  .body__index .drinks {
    padding: 1.5rem 0;
  }
  .body__index .drinks-header__title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
  }
  .body__index .drinks-header a {
    color: black;
    width: min-content;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .body__index .drinks .items-container {
    width: 100%;
    overflow: auto;
  }
  .body__index .drinks .items-container__item-img {
    width: 12rem;
  }
  .body__index .drinks .items-container__item-img img {
    width: 100%;
  }
  .body__index .drinks .items-container__item-name, .body__index .drinks .items-container__item-price {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 15rem;
  }
  .body__index .drinks .items-container__item-cod {
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
  }
  .body__index .drinks .items-container__item-cod span {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    width: 100%;
    text-align: center;
  }
  .body__index .drinks .items-container__item-price {
    font-size: 2rem;
  }
  .body__index .drinks .items-container .itemMore {
    margin: auto;
  }
  .body__index .drinks .items-container .itemMore .itemMore-img {
    width: 5rem;
  }
  .body__index .drinks .items-container .itemMore .itemMore-img img {
    width: 100%;
  }
  .body__index .drinks .items-container .itemMore-cod {
    display: none !important;
  }
  .body__index .drinks .items-container__item-img {
    width: 8rem;
  }
  .body__index .carrito-title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
  }
  .body__index .carrito-container {
    width: 100%;
    height: 300px;
    border: solid black 0.3rem;
    border-radius: 1rem;
    overflow: auto;
  }
  .body__index .carrito-container__item {
    width: 100%;
  }
  .body__index .carrito-container__item p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  .body__index .carrito-container__item b {
    font-size: 2rem;
    font-weight: 700;
  }
  .body__index .carrito-total {
    color: black;
    font-size: 3rem;
    font-weight: 700;
  }
  .body__index .footer {
    background-color: black;
    height: 300px;
  }
  .body__index .footer-img {
    width: 10rem;
  }
  .body__index .footer-img img {
    width: 100%;
  }
  .body__index .footer-container__title {
    color: white;
    font-weight: 700;
  }
  .body__index .footer-container__item-icon i {
    color: white;
    font-size: 1.5rem;
  }
  .body__index .footer-container__item-name a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .body__shop .header-container {
    background-color: black;
    z-index: 2;
  }
  .body__shop .header-container__img {
    width: 6rem;
  }
  .body__shop .header-container__img img {
    width: 100%;
  }
  .body__shop .header-container__toggle {
    font-size: 4rem;
    color: white;
  }
  .body__shop .header .navbar {
    position: absolute;
    z-index: 1;
    padding: 0;
    width: 100%;
    transform: translateY(-4rem);
    transition: transform 0.5s;
  }
  .body__shop .header .navbar--show {
    transform: translateY(9rem);
  }
  .body__shop .header .navbar-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 2rem;
    background-color: black;
  }
  .body__shop .header .navbar-list li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 3rem;
  }
  .body__shop .shop-title {
    background-color: black;
    border-radius: 1rem;
  }
  .body__shop .shop-title p {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
    text-align: center;
    margin: 0;
  }
  .body__shop .shop-title__icon {
    background-color: white;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
  }
  .body__shop .shop-title__icon i {
    color: black;
    text-align: center;
    transform: translate(-2px, -4px);
  }
  .body__shop .shop-container__title {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    background-color: black;
    padding: 1rem;
    border-radius: 1rem;
  }
  .body__shop .shop-container__items {
    padding: 0;
    margin: 0;
  }
  .body__shop .shop-container__items-item {
    border: solid black 0.3rem;
    border-radius: 1rem;
  }
  .body__shop .shop-container__items-item__icon i {
    color: black;
    font-size: 2rem;
  }
  .body__shop .shop-container__items-item__cont-img {
    width: 8rem;
  }
  .body__shop .shop-container__items-item__cont-img img {
    width: 100%;
  }
  .body__shop .shop-container__items-item__cont-info__name, .body__shop .shop-container__items-item__cont-info .price {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    width: 15rem;
  }
  .body__shop .shop-container__items-item__cont-info .price {
    width: min-content;
    font-size: 2.5rem;
  }
  .body__shop .shop-container__items .drinks-img {
    width: 6rem;
  }
  .body__shop .shop-container__items .drinks-bigImg {
    width: 4rem;
  }
  .body__shop .cartShopping {
    position: sticky;
    bottom: 1.5rem;
    background-color: black;
    border-radius: 1rem;
  }
  .body__shop .cartShopping-counter__icon {
    width: 3rem;
  }
  .body__shop .cartShopping-counter__icon i {
    font-size: 3rem;
    color: white;
  }
  .body__shop .cartShopping-counter__number {
    width: 3rem;
  }
  .body__shop .cartShopping-counter__number .counter {
    font-size: 3rem;
    color: white;
    font-weight: 700;
  }
  .body__shop .cartShopping-btnShowContainer {
    transition: all 1s;
    width: 3rem;
  }
  .body__shop .cartShopping-btnShowContainer i {
    color: white;
    font-size: 4rem;
  }
  .body__shop .cartShopping .cartShopping-btnShowContainer--rotate {
    width: 3rem;
    transition: all 0.5s;
    transform: rotateX(180deg);
  }
  .body__shop .cartShopping-container {
    display: none !important;
    overflow: auto;
  }
  .body__shop .cartShopping-container__items-item .delete {
    font-size: 1.5rem;
    color: white;
  }
  .body__shop .cartShopping-container__items-item .priceItem, .body__shop .cartShopping-container__items-item .nameItem {
    font-size: 1.5rem;
    color: white;
    font-weight: 700;
  }
  .body__shop .cartShopping-container__items-item .nameItem {
    margin: 0;
  }
  .body__shop .cartShopping-container__total {
    font-size: 2rem;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    border-top: solid white 0.15rem;
    padding: 1.5rem;
  }
  .body__shop .cartShopping .cartShopping-container--show {
    display: flex !important;
    height: 100px;
  }
  .payment-title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
  }
  .payment-container {
    background-color: black;
    border-radius: 1rem;
  }
  .payment-container__form-item__title {
    color: white;
    font-size: 1.5rem;
  }
  .payment-container__form-item .inputSelect {
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: solid white 0.2rem;
    font-size: 1.5rem;
    outline: none;
    padding: 0.5rem 0rem;
  }
  .payment-container__form-item .inputSelect::placeholder {
    color: rgb(154, 154, 154);
  }
  .payment-container__form-item select {
    border: none !important;
  }
  .payment-container__form-item select option {
    color: black;
    font-weight: 700;
  }
  .payment-container__form button {
    border: none;
    background-color: #25D366;
    border-radius: 1rem;
    max-width: 300px;
    margin: auto;
  }
  .payment-container__form button p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .payment-container__form button .fa-whatsapp {
    font-size: 3rem;
    font-weight: 700;
  }
  .footer {
    background-color: black;
    height: 300px;
  }
  .footer-img {
    width: 10rem;
  }
  .footer-img img {
    width: 100%;
  }
  .footer-container__title {
    color: white;
    font-weight: 700;
  }
  .footer-container__item-icon i {
    color: white;
    font-size: 1.5rem;
  }
  .footer-container__item-name a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
