@mixin styleHeaderNavBar {
    position: sticky;
    top: 0;
    z-index: 2;
    &-container{
        background-color: black;
        z-index: 2;
        &__img{
            width: 6rem;
            img{
                width: 100%;
            }
        }
        &__toggle{
            img{
                width: 4rem;
                filter: invert(100%);
            }
        }
    }
    .navbar{
        position: absolute;
        z-index: 1;
        padding: 0;
        width: 100%;
        transform: translateY(-4rem);
        transition: transform .5s;
        &--show{
            transform: translateY(9rem);
        }
        &-list{
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 2rem;
            background-color: black;
            li{
                a{
                    @include styleAnchor;
                    font-size: 3rem;
                }
            }
        }
    }
}
@mixin styleAnchor {
    text-decoration: none;
    color: white;
    font-weight: 700;
}
@mixin styleTitle{
    font-size: 1.5rem;
    font-weight: 700;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}
@mixin styleItemMore {
    margin: auto;
    .itemMore-img{
        width: 5rem;
        img{
            width: 100%;
        }
    }
    &-cod{
        display: none!important;
    }
}
@mixin styleFooter{
    background-color: black;
    height: 300px;
    &-img{
        width: 10rem;
        img{
            width: 100%;
        }
    }
    &-container{
        &__title{
            color: white;
            font-weight: 700;
        }
        &__item{
            &-icon{
                img{
                    width: 2rem;
                    filter: invert(100%)
                }
            }
            &-name{
                a{
                    @include styleAnchor;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@mixin preloader{
    overflow: hidden;
    .loader{
        position: absolute;
        background-color: black;
        z-index: 5;
        width: 100%;
        height: 100%;
        &__img{
            img{
                width: 10rem;
                height: 10rem;
            }
        }
    }
}
@mixin hidePreloader{
    transform: translateX(-100%);
    transition: transform 1s ease-out
}