@media(max-width: 768px){
    .body__index{
        @include preloader;
        .loader--hide{
            @include hidePreloader
        }
        .header{
            @include styleHeaderNavBar;
        }
        .welcome{
            background-color: black;
            border-radius: 1rem;
            &-title{
                text-transform: uppercase;
                font-size: 3rem;
                font-weight: 700;
                text-align: center;
                letter-spacing: 3px;
                color: white;
                padding: 1rem;
            }
        }
        .typeItems{
            padding: 1.5rem 0;
            &-title{
                padding: 1.5rem;
                margin: 0;
                color: white;
                background-color: black;
                padding: 1rem;
                border-radius: 1rem;
                font-weight: 700;
            }
            &-container{
                width: 100%;
                overflow-x: auto;
                margin: auto;
                &__item{
                    background-color: black;
                    border-radius: 1rem;
                    min-width: 88px!important;
                    &-img{
                        width: 4rem;
                        img{
                            width: 100%;
                        }
                    }
                    &-name{
                        margin: 0;
                        color: white;
                        font-weight: 700;
                        font-size: 1.25rem  
                    }
                    &:first-child{
                        margin-left: 1.5rem;
                    }
                    &:last-child{
                        margin-right: 1.5rem
                    }
                }
            }
        }
        .combos, .drinks{
            &-header{
                &__title{
                    @include styleTitle;
                }
            }
            &-container{
                display: none!important;
            }
        }
        .carousel{
            margin: 1.5rem;
            &-inner{
                border: solid rgb(190, 190, 190) .2rem;
                border-radius: 1rem;
                .carousel-item{
                    max-height: 350px;
                    .carousel-caption{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        background-color: rgba($color: #000000, $alpha: .8);
                        border-radius: 1rem;
                        padding: 1rem!important;
                        h5{
                            font-size: 1.25rem;
                            font-weight: 700;
                            margin: 0!important;
                        }
                        p{
                            margin: 0!important;
                            font-weight: 700;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            &-control-prev, &-control-next{
                &-icon{
                    filter: invert(100%);
                }
            }
        }
        .footer{
            @include styleFooter;
        }
    }
}

@media(min-width: 769px){
    .body__index{
        &::-webkit-scrollbar{
            display: none;
        }
        user-select: none;
        @include preloader;
        .loader--hide{
            @include hidePreloader
        }
        .header{
            @include styleHeaderNavBar
        }
        .welcome{
            background-color: black;
            padding: 2rem!important;
            border-radius: 1rem;
            margin: 5rem!important;
            flex-direction: row!important;
            justify-content: space-evenly!important;
            &-title{
                font-size: 5rem;
                color: white;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
        }
        .typeItems{
            padding: 5rem !important;
            &-title{
                background-color: black;
                padding: 1rem;
                border-radius: 1rem;
                color: white;
                font-size: 2.5rem;
                font-weight: 700;
            }
            &-container{
                &__item{
                    background-color: black;
                    width: 110px;
                    height: 110px;
                    border-radius: 1rem;
                    transition: all .2s;
                    &-img{
                        width: 5rem;
                        img{
                            width: 100%
                        }
                    }
                    &-name{
                        color: white;
                        font-size: 1.25rem;
                        font-weight: 700;
                        margin: 0;
                    }
                }
            }
        }
        .typeItems-container__item:hover{
            background-color: #b21925;
            cursor: pointer;
        }
        .combos, .drinks{
            margin: 5rem 0 !important;
            gap: 5rem !important;
            &-header{
                &__title{
                    font-size: 2.5rem;
                    font-weight: 700;
                    background-color: black;
                    color: white;
                    padding: 1rem;
                    border-radius: 1rem;
                }
                a{
                    color: black;
                    font-weight: 700;
                    font-size: 1.5rem;
                }
            }
            &-container{
                overflow-x: auto;
                gap: 1rem;
                &__item{
                    &-img{
                        width: 10rem;
                        img{
                            width: 100%
                        }
                    }
                    &-description{
                        font-weight: 700;
                        width: 30rem;
                        .name{
                            font-size: 1.5rem;
                        }
                        .price{
                            font-size: 2rem;
                        }
                    }
                    &:first-child{
                        margin-left: 5rem;
                    }
                    &:last-child{
                        margin-right: 5rem;
                    }
                }
            }
            .carousel{
                display: none!important;
            }
        }
        .combos{
            &-container{
                &__item{
                    &-img{
                        width: 15rem;
                    }
                }
            }
        }
        .sale-header{
            justify-content: start !important;
        }
        .drinks-header{
            justify-content: end !important;
        }
        .footer{
            @include styleFooter
        }
    }
}