@media(max-width: 768px){
    .body__payment{
        .header{
            @include styleHeaderNavBar;
        }
        .backToShop{
            button{
                border: none;
                background-color: transparent;
                padding: 1rem;
                font-size: 2rem;
                font-weight: 700;
                img{
                    width: 3rem;
                    transform: rotateY(180deg);
                }
            }
        }
        .payment{
            &-title{
                font-size: 2rem;
                font-weight: 700;
                color: black;
            }
            &-container{
                border-radius: 1rem;
                &__form{
                    &-item{
                        &__title{
                            color: black;
                            font-size: 1.5rem;
                            font-weight: 700;
                        }
                        &__radioOptions{
                            &-option{
                                font-size: 1.5rem;
                                font-weight: 700;
                                color: black;
                            }
                        }
                        .inputSelect{
                            width: 100%;
                            background-color: transparent;
                            color: black;
                            border: none;
                            border-bottom: solid black .2rem;
                            font-size: 1.5rem;
                            outline: none;
                            padding: .5rem 0rem;
                        }
                        .inputSelect::placeholder{
                            color: #252525;
                            padding-left: 4px;
                        }
                        select{
                            border: none !important;
                            color: #252525!important;
                            option{
                                color: black;
                                font-weight: 700;
                            }
                        }
                    }
                    .adressInput--hide{
                        display: none !important;
                    }
                    .adressInput--show{
                        display: flex !important;
                    }
                    button{
                        border: solid black .3rem;
                        background-color: $colorWhatsapp;
                        border-radius: 1rem;
                        max-width: 300px;
                        margin: auto;
                        p{
                            margin: 0;
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        img{
                            width: 3rem;
                        }
                    }
                }
            }
        }
        .footer{
            @include styleFooter;
        }
    }
}
@media(min-width: 769px){
    .body__payment{
        user-select: none;
        &::-webkit-scrollbar{
            display: none;
        }
        .header{
            @include styleHeaderNavBar
        }
        .backToShop{
            button{
                border: none;
                background-color: transparent;
                padding: 1rem;
                font-size: 3rem;
                font-weight: 700;
                img{
                    width: 8rem;
                    transform: rotateY(180deg);
                }
            }
        }
        .payment{
            &-title{
                font-size: 2.5rem;
                font-weight: 700;
                color: black;
            }
            &-container{
                border-radius: 1rem;
                max-width: 600px;
                margin: auto;
                &__form{
                    &-item{
                        &__title{
                            color: black;
                            font-size: 1.5rem;
                            font-weight: 700;
                        }
                        &__radioOptions{
                            &-option{
                                font-size: 1.5rem;
                                font-weight: 700;
                                color: black;
                            }
                        }
                        .inputSelect{
                            width: 100%;
                            background-color: transparent;
                            color: black;
                            border: none;
                            border-bottom: solid black .2rem;
                            font-size: 1.5rem;
                            outline: none;
                            padding: .5rem 0rem;
                        }
                        .inputSelect::placeholder{
                            color: #252525;
                            padding-left: 4px;
                        }
                        select{
                            border: none !important;
                            color: #252525!important;
                            option{
                                color: black;
                                font-weight: 700;
                            }
                        }
                    }
                    .adressInput--hide{
                        display: none !important;
                    }
                    .adressInput--show{
                        display: flex !important;
                    }
                    button{
                        border: solid black .3rem;
                        background-color: $colorWhatsapp;
                        border-radius: 1rem;
                        max-width: 300px;
                        margin: auto;
                        transition: all .2s;
                        p{
                            margin: 0;
                            font-size: 2rem;
                            font-weight: 700;
                        }
                        img{
                            width: 3rem;
                        }
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
        .footer{
            @include styleFooter
        }
    }
}