@media(max-width: 768px){
    .body__shop{
        .header{
            @include styleHeaderNavBar;
        }
        .shop{
            &-title{
                background-color: black;
                border-radius: 1rem;
                p{
                    font-size: 1.5rem;
                    color: white;
                    font-weight: 700;
                    text-align: center;
                    margin: 0;
                }
                &__icon{
                    background-color: white;
                    font-size: 2rem;
                    padding: .5rem;
                    border-radius: .5rem;
                    width: 3rem;
                    height: 3rem;
                    i{
                        color: black;
                        text-align: center;
                        transform: translate(-2px, -4px)
                    }
                }
            }
            &-container{
                &__title{
                    @include styleTitle;
                }
                &__items{
                    padding: 0;
                    margin: 0;
                    &-item{
                        border: solid black .3rem;
                        border-radius: 1rem;
                        &__icon{
                            width: 3rem;
                            height: 3rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            i{
                                border-radius: 1rem;
                                padding: 1rem;
                                color: black;
                                font-size: 2rem;
                            }
                            :active{
                                background-color: black;
                                color: white;
                            }
                        }
                        &__cont{
                            &-img{
                                width: 8rem;
                                img{
                                    width: 100%;
                                }
                            }
                            &-info{
                                &__name{
                                    font-size: 1.5rem;
                                    text-align: center;
                                    font-weight: 700;
                                    width: 15rem;
                                }
                                .price{
                                    @extend .shop-container__items-item__cont-info__name;
                                    width: min-content;
                                    font-size: 2.5rem;
                                }
                            }
                        }
                    }
                    .drinks-img{
                        width: 6rem;
                    }
                    .drinks-bigImg{
                        width: 4rem;
                    }
                }
            }
        }
        .cartShopping{
            position: sticky;
            bottom: 1.5rem;
            border-radius: 1rem;
            &-counter{
                z-index: 3;
                height: 80px;
                background-color: black;
                border-radius: 1rem;
                &__icon{
                    width: 3rem;
                    i{
                        font-size: 3rem;
                        color: white;
                    }
                }
                &__number{
                    width: 3rem;
                    .counter{
                        font-size: 3rem;
                        color: white;
                        font-weight: 700;
                    }
                }
            }
            &-btnShowContainer{
                transition: all .4s;
                width: 3rem;
                i{
                    color: white;
                    font-size: 4rem;
                }
            }
            .cartShopping-btnShowContainer--rotate{
                width: 3rem;
                transition: all .4s;
                transform: rotateX(180deg);
            }
            &-container{
                position: absolute;
                background-color: black;
                transition: all .5s;
                height: 80px;
                z-index: 2;
                border-radius: 1rem;
                &__items{
                    overflow: auto;
                    &-item{
                        .delete{
                            font-size: 1.5rem;
                            color: white;
                        }
                        .priceItem{
                            font-size: 1.5rem;
                            color: white;
                            font-weight: 700;
                        }
                        .nameItem{
                            @extend .priceItem;
                            margin: 0;
                        }
                    }
                }
                &__info{
                    padding-top: 0!important;
                    border-top-left-radius: 1rem;
                    border-top-right-radius: 1rem;
                    &-total{
                        font-size: 2rem;
                        color: white;
                        font-weight: 700;
                        letter-spacing: 3px;
                        text-align: center;
                    }
                    &-clean{
                        padding: 1rem;
                        background-color: transparent;
                        border: solid white .15rem;
                        color: white;
                        font-size: 1rem;
                        font-weight: 700;
                        border-radius: 1rem;
                        letter-spacing: 3px;
                    }
                }
            }
            .cartShopping-container--show{
                height: 200px;
                transform: translateY(-12rem);
            }
        }
    }
    .payment{
        &-title{
            font-size: 2rem;
            font-weight: 700;
            color: white;
        }
        &-container{
            background-color: black;
            border-radius: 1rem;
            &__form{
                &-item{
                    &__title{
                        color: white;
                        font-size: 1.5rem;
                    }
                    .inputSelect{
                        width: 100%;
                        background-color: transparent;
                        color: white;
                        border: none;
                        border-bottom: solid white .2rem;
                        font-size: 1.5rem;
                        outline: none;
                        padding: .5rem 0rem;
                    }
                    .inputSelect::placeholder{
                        color: rgb(154, 154, 154);
                    }
                    select{
                        border: none !important;
                        option{
                            color: black;
                            font-weight: 700;
                        }
                    }
                }
                button{
                    border: none;
                    background-color: $colorWhatsapp;
                    border-radius: 1rem;
                    max-width: 300px;
                    margin: auto;
                    p{
                        margin: 0;
                        font-size: 2rem;
                        font-weight: 700;
                    }
                    .fa-whatsapp{
                        font-size: 3rem;
                        font-weight: 700;
                    }
                }
            }
        }
        &-message{
            p{
                color: red;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }
    }
    /*.payment--show{
        display: flex !important
    }*/
    .footer{
        @include styleFooter;
    }
}